html{
	background: #e2e2e2;
}
section{
	width:100%;
	margin:0.5rem 0 0.54rem;
	height:100%;
}
/*mobile*/
section .mobile{
	width:100%;
	background: #fff;
}
section .mobile .mobile-tit{
	width:100%;
	height:0.4rem;
	line-height: 0.4rem;
	font-size:14px;
	font-weight: 900;
	color:#666;
	border-bottom: 1px solid #ebebeb;
	padding:0 0.1rem;
}
section .mobile .mobile-img{
	width:100%;
	height:1.1rem;
	border-bottom: 1px solid #ebebeb;
	padding:0.1rem;
}
section .mobile .mobile-img img{
	width:100%;
	height:100%;
}
section .mobile .mobile-con1{
	width:100%;
	height:0.6rem;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	
}
section .mobile .mobile-con1 img{
	width:0.32rem;
	height:0.32rem;
	margin:0.13rem 0.15rem 0;
}
section .mobile .mobile-con1 p{
	font-size:10px;
	color:#666;
	font-weight: 700;
	line-height: 0.6rem;
}
section .mobile .mobile-con1 span{
	display: block;
	font-size:2px;
	border:1px solid #d0e674;
	text-align: center;
	width:0.4rem;
	height:0.2rem;
	margin:0.18rem 1.7rem 0 0.15rem;
	border-radius: 0.3rem;
	color:#8aad37;
	background: #f7fae1;
}
section .mobile .mobile-con1 i{
	line-height: 0.6rem;
	color:#999;
	font-weight: 700;
}
section .mobile .mobile-con2{
	width:100%;
	height:0.6rem;
	border-bottom: 1px solid #ebebeb;
	display: flex;
}
section .mobile .mobile-con2 img{
	width:0.32rem;
	height:0.32rem;
	margin:0.13rem 0.15rem 0;
}
section .mobile .mobile-con2 p{
	font-size:10px;
	color:#666;
	font-weight: 700;
	line-height: 0.6rem;
}
section .mobile .mobile-con2 span{
	display: block;
	font-size:2px;
	border:1px solid #d0e674;
	text-align: center;
	width:0.55rem;
	height:0.2rem;
	margin:0.18rem 1.68rem 0 0.15rem;
	border-radius: 0.3rem;
	color:#8aad37;
	background: #f7fae1;
}
section .mobile .mobile-con2 i{
	line-height: 0.6rem;
	color:#999;
	font-weight: 700;
}